.PortfolioCard {
  height: 400px;
  width: 100%;
  margin: 0 20px 25px;
}

.PortfolioIcon {
  color: rgb(22, 156, 112);
  font-size: 20px;
  transition: all 0.3s;
}

.PortfolioIcon:hover {
  color: rgb(13, 89, 64);
}