body {
  background-color: rgb(242, 242, 242);
}

.react-multiple-carousel__arrow--left {
  left: 0;
}

.react-multiple-carousel__arrow--right {
  right: 0;
}

.react-multi-carousel-item {
  margin-left: 10px;
}

.nav-item .dropdown-menu {
  right: 0
}